.gold
    {color:blue;
	 background-color:green;
	 font-size:10px;
	 }
.stone
     {color:red;
	 background-color:green;
	 font-size:30px;
	 }
#cholan
     {color:brown;
	 background-color:green;
	 font-size:10px;
	 }